spring:
  application:
    name: employee-service

  profiles:
    active: dev

  datasource:
    url: jdbc:mysql://localhost:3306/employee_db
    username: root
    password: pass
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.MySQLDialect

  h2:
    console:
      enabled: true
      path: /h2-console

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info
  info:
    env:
      enabled: true

info:
  app:
    name: Employee Service
    version: 1.0.0

jwt:
  secret: qawsedrftgvcxzasdfrewq1234567890!@#$%^&*()_+wswsdffxvgdxctyujhazx

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

resilience4j:
  circuitbreaker:
    instances:
      departmentService:
        registerHealthIndicator: true
        slidingWindowSize: 5
        failureRateThreshold: 50
        waitDurationInOpenState: 10s
        permittedNumberOfCallsInHalfOpenState: 3

  retry:
    instances:
      departmentService:
        maxAttempts: 3
        waitDuration: 2s
