spring:
  application:
    name: employee-service

  profiles:
    active: dev

  datasource:
    url: jdbc:mysql://localhost:3306/employee_db
    username: root
    password: Ajay@0511
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.MySQLDialect

  h2:
    console:
      enabled: true
      path: /h2-console

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info
  info:
    env:
      enabled: true

info:
  app:
    name: Employee Service
    version: 1.0.0

jwt:
  secret: qawsedrftgvcxzasdfrewq1234567890!@#$%^&*()_+wswsdffxvgdxctyujhazx
